
.jumbotron{
    margin-top: 70px;
    background: rgba(230, 230, 230, 0.26);
}

.back1{
    box-shadow: 2px 3px 5px black;
}

.back2{
 background: #0000f2;
    box-shadow: 2px 3px 5px black;
    
    color: aliceblue;
}
.color1{
    color: aliceblue;
}