*{
    padding: 0%;
    margin: 0;
}

body {
    background: white;
    color: dimgrey;
    font-family: 'Montserrat', sans-serif;
}

#layout {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    color: cornflowerblue;
}

#logo {
    float: left;
    width: 200px;
    height: 100px;
    background-image: url(src/11329015_10206858929815907_1011755481_n.jpg);
    background-repeat: round;
}
#logo:hover {
    opacity: .6;
}

#menup {
    align-content: center;
    width: 100%;
    height: 100px;
    background: white;
    position: fixed;
}

#menu {
    margin-top: 1%;
    float: right;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    width: 80%;
    list-style:none;
}

menu {
    float: right;
    width: 40%;
    height: 40px;
}

menu a { 
    text-align: center;
    text-decoration: none;
    color: dimgrey;
}

menu li {
    padding: 10px;
    display:inline-block;
    transition: all .1s linear;
    border: 2px;
}

menu li:hover{
    padding: 5px 10px;
    color: #5e90ff;
    border: 2px;
    border-style:solid;
    border-color: #5e90ff;
    border-radius: 3px;
}

.activo {
    padding: 5px 10px;
    color: #5e90ff;
    border: 2px;
    border-style:solid;
    border-color: #5e90ff;
    border-radius: 3px;
}

#titulo{
    color: aliceblue;
}

#content {
    width: 800px;
    margin-top: 150px;
    margin-left: 120px;
    height: 250px;
}
#content a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:'Text Me One', sans-serif;     
}

#admin {
    float: left;
    border-style: groove;
    border-color: white;
    align-content: center;
    width: 200px;
    height: 200px;
}
#usr {
    float: right;
    border-style: groove;
    border-color: white;
    align-content: center;
    width: 200px;
    height: 200px;
}
#admin p {
    margin-top: 90px;
}
#usr p {
    margin-top: 90px;
}
#registro {
    margin-top: 130px;
    margin-left: 240px;
    width: 400px;
}
#registro table{
    color:white;
    font-family: 'Text Me One', sans-serif; 
    font-size: 2.1em;
}
table td{
}
.tama {
    font-size: 1em;
    width: 450px;
    height: 50px;
    border: 1px solid #CCC;
}
.tamaboton{
    width: 225px;
    height: 50px;
    font-size: 1em;
    font-family: 'Text Me One',sans-serif;
}
#cajalog{
    color:white;
}
#cajalog a{
    color:white;
}

#corpus {
    margin-top: 30px;
}

.boton{
    background:#d4d4d4; 
    background-image: -webkit-linear-gradient(top,#d5dadd,#969292);
    background-image: -moz-linear-gradient(top,#d5dadd,#969292);
    background-image: -o-linear-gradient(top,#d5dadd,#969292); 
    background-image: linear-gradient(top,#d5dadd,#969292);  
    border: 1px solid #b4b4b4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #c2cad0 inset;
    -webkit-box-shadow: 0 1px 1px #d8d8d8 inset;
    -o-box-shadow: 0 1px 1px #d9d9d9 inset; 
    box-shadow: 0 1px 1px #ddd inset;
    padding: .8em 1.8em;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight:normal;
    text-decoration:none;
}
.boton:hover {
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#ddd,#a8a8a8);
    background-image: -moz-linear-gradient(bottom,#ddd,#a8a8a8);
    background-image: -o-linear-gradient(bottom,#ddd,#a8a8a8);   
    background-image: linear-gradient(bottom,#ddd,#a8a8a8);
    cursor: pointer;
}
.active{
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#ddd,#a8a8a8);
    background-image: -moz-linear-gradient(bottom,#ddd,#a8a8a8);
    background-image: -o-linear-gradient(bottom,#ddd,#a8a8a8);   
    background-image: linear-gradient(bottom,#ddd,#a8a8a8);
}

#sucess{
margin: 0 auto;
height: auto;
}
#sucess p{
    text-align: center;
    font-size: 2em;
    color:white;
    font-family: 'Text Me One', sans-serif;
}
#sucess a{
color:white;
text-decoration:underline;
}
#cont-slider{
margin-left:200px;
}
#saludo {
    margin: 0 auto;
    width: auto;
}
#saludo p{
text-align: center;
       font-size: 2em;
    font-family: 'Text Me One',sans-serif;
    color:white;
}
#form{
    border-style: groove;
    border-radius: 20px;
    color:white;
    font-family: 'Text Me One', sans-serif; 
    font-size: 1.1em;
}
#form td{
    border-style: groove;
    border-radius: 5px;
    color:white;
}

.bot{
    width: 225px;
    height: 30px;
    font-size: 1em;
    font-family: 'Text Me One',sans-serif;
}
.botshort{
    width: 50px;
    height: 30px;
    font-size: 1em;
    font-family: 'Text Me One',sans-serif;
}

#tablaborrar{
    box-shadow: 2px 2px 20px black;
    border-style: groove;
    border-color: white;
    border-radius: 20px;
    color:white;
    font-family: 'Text Me One', sans-serif; 
    font-size: 1.1em;
}
#tablaborrar td{
    border: 1px;
    border-style: groove;
    border-color: white;
    border-radius: 3px;
    color:white;
}
#tablaborrar td a {
text-decoration: none;
color: red;
}

#meninf{
    margin: 0 auto;
    width: 400px;
    color:white;
    font-family: 'Text Me One', sans-serif; 
    font-size: 1.3em;
}

#forms {
    border-color: white;
    color:white;
}

#background1{
    width: 100%;
    height: 95%;
    background: #3c8dbc;
}
