#slidera{
	float:right;	
	font-size:20px;
	text-shadow: 2px 3px 5px black;
	text-align:justify;
	margin-left:20px;
	margin-top:20px;
	float:left;
	width:350px;
	height:auto;
}
footer{
	margin:0 auto;
	margin:bottom;
	text-shadow: 10px 10px 10px black;
	font-size:smaller;
	text-align:center;
	width: 500px;
	height: 50px;
}
				/*slider*/
.sliderContainer{
    width: 635px;
    height: 600px;
    position: relative;
    margin:auto;
}
.slidesContainer{
	border-top: 6px solid black;
}
#slider {
    width: 500px;
    height: 500px;
    background: #FFF;
    border: 5px solid #FFF;
    overflow: hidden;
    position: relative;
    margin: auto;
}
#slider .slide{
    width: 600px;
    height: 380px;
    float: left;
}
.prev, .next{
    display: block;
    height: 56px;
    width: 56px;
    position: absolute;
    top: 200px;
}
.prev{
    background: url('img/prev.png') no-repeat;
    background-position: 0 0;
    left: 0;
}
.prev:hover{
    background-position: 0 2px;
}
.next{
    background: url('img/next.png') no-repeat;
    background-position: 0 0;
    right: 0;
}
.next:hover{
    background-position: 0 2px;
}
/*Fin del slider*/



<!--Script y css para el slider-->
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js' type='text/javascript'> </script> <script src="src/easy-slider.js"></script>
<!--Aqui termina el slider-->

<div id="slidera">
			<div class="sliderContainer"> 
				<a href="#siguiente" class="next" title="Siguiente">
				</a> 
				<a href="#anterior" class="prev" title="Anterior">					
				</a> 
				<div id="slider"> 
					<div class="slidesContainer" style="width: 2700px;"> 
					<div class="slide"><img src="img/1.JPG" width="500px" height="700px" alt="Imagen 01">						
					</div> 
					<div class="slide">
						<img src="img/2.JPG"width="500px" height="700px">
						</div> 
						<div class="slide"><img src="img/_DSC7743.JPG" width="500px" height="700px" alt="Imagen 01">	
						</div> 
						</div> <!-- /slidesContainer --> 
						</div> <!-- /slider --> 
						</div>



