#slidera{
    display: block;
	float: right;
	font-size:20px;
	text-shadow: 2px 3px 5px black;
	text-align:justify;
	margin-left:20px;
	margin-top:20px;
	float:left;
	width:640px;
	height: 0 auto;
    
}
				/*slider*/
.sliderContainer{
    width: 640px;
    height: 310px;
    position: relative;
    margin:auto;
   
    
}
.slidesContainer{
	border-top: 0px solid black;
}
#slider {
    width: 640px;
    height: 310px;
    background: black;
    border-radius: 30px;
    border-style: groove;
    border: .5px solid white;
    box-shadow: 30px 20px 1px 10px rgba(2,2,2,.4);
    overflow: hidden;
    position: center;
    margin: 0 auto;
}
#slider .slide{
    width: 640px;
    height: 310px;
    float: left;
}
.prev, .next{
    display: block;
    height: 56px;
    width: 56px;
    position: absolute;
    top: 150px;
}
.prev{
    background: url('img/prev.png') no-repeat;
    background-position: 0 0;
    left: 30px;
    opacity: .2;
}
.prev:hover{
    background-position: 0 2px;
    opacity: .3;
}
.next{
    background: url('img/next.png') no-repeat;
    background-position: 0 0;
    right: 0;
    opacity: .2;
}
.next:hover{
    background-position: 0 2px;
    opacity: .3;
}